body {
	margin-top: 4%;
}

.fix-tab-padding {
	margin-left: 130px; // .well overlaps tabs
}

#tab-random {
	padding-top: 4%;
}

footer {
 font-size: 80%;
}

#the-word {
	text-align: center;
}

.tab-pane {
	& > h1 {
		margin-bottom: 20px;
	}
}

.tabbable {
	.nav {
		.yellow  {
		    a, a:visited {
				background-color: #f9f1ca;
			}
		}
	}
}