body {
  margin-top: 4%; }

img[src$="logo.png"] {
  position: absolute;
  right: 0;
  top: 0; }

.fix-tab-padding {
  margin-left: 130px; }

#tab-random {
  padding-top: 4%; }

footer {
  font-size: 80%; }

#the-word {
  text-align: center; }

.tab-pane > h1 {
  margin-bottom: 20px; }

.tabbable .nav .yellow a, .tabbable .nav .yellow a:visited {
  background-color: #f9f1ca; }
